<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<!--  <servlet>
		<servlet-name>Index</servlet-name>
		<servlet-class>es.upm.dit.isst.process.IndexServlet</servlet-class>
	</servlet>
	<servlet-mapping> bien
		<servlet-name>Index</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>-->
	<servlet>
		<servlet-name>Inicio</servlet-name>
		<servlet-class>es.upm.dit.isst.process.InicioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Inicio</servlet-name>
		<url-pattern>/inicio</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AlertaLlega</servlet-name>
		<servlet-class>es.upm.dit.isst.process.InicioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AlertaLlega</servlet-name>
		<url-pattern>/alertallega</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>Usuarios</servlet-name>
		<servlet-class>es.upm.dit.isst.process.UsuariosServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Usuarios</servlet-name>
		<url-pattern>/usuarios</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateUsuario</servlet-name>
		<servlet-class>es.upm.dit.isst.process.CreateUsuarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateUsuario</servlet-name>
		<url-pattern>/nuevoUsuario</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RemoveUsuario</servlet-name>
		<servlet-class>es.upm.dit.isst.process.RemoveUsuarioServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveUsuario</servlet-name>
		<url-pattern>/borrarUsuarios</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CreateAlerta</servlet-name>
		<servlet-class>es.upm.dit.isst.process.CreateAlertaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CreateAlerta</servlet-name>
		<url-pattern>/nuevaAlerta</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>rojoAlerta</servlet-name>
		<servlet-class>es.upm.dit.isst.process.ROJOServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>rojoAlerta</servlet-name>
		<url-pattern>/rojoAlerta</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>xmppreceiver</servlet-name>
		<servlet-class>es.upm.dit.isst.process.XmppReceiverServlet</servlet-class>
	</servlet>
		<servlet-mapping>
		<servlet-name>xmppreceiver</servlet-name>
		<url-pattern>/_ah/xmpp/message/chat/</url-pattern>
	</servlet-mapping>	
	<servlet>
		<servlet-name>RemoveAlerta</servlet-name>
		<servlet-class>es.upm.dit.isst.process.RemoveAlertaServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveAlerta</servlet-name>
		<url-pattern>/borrarAlerta</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>Inicio</welcome-file>
	</welcome-file-list>
</web-app>
